.caja1{color: aqua; background-color: yellow; height: 250px;width: 250px;border: 2px solid black;
padding: 20px; margin-bottom: 20px;}
.caja2{color: blue; background-color: white;height: 250px;width: 250px}
.caja3{color: crimson; background-color: white;height: 250px;width: 250px}

body{background-color: lightblue;}


