.caja1 {
    color: aqua;
    background-color: yellow;
    height: 250px;
    width: 250px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.caja2 {
    color: blue;
    background-color: white;
    height: 250px;
    width: 250px
}

.caja3 {
    color: crimson;
    background-color: white;
    height: 250px;
    width: 250px
}

body {
    background-color: lightblue;
}

.micuadro {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: unidades de medida PX-EM; */
    font-size: 20px;
    text-align: center;
    transition: width 0.5s,height 0.5s,background-color 0.5s;
  }

.micuadro:hover {
    background-color: aqua;
    width: 400px;
    height: 400px;
}